@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-1: 116 105 182;
    --color-primary-2: 141 132 195;
    --color-secondary: 240 240 240;
    --color-neutral: 12 12 12;
    --color-gradient-1: #beadfa;
    --color-gradient-2: #93c5fd;
    --color-gradient-3: #f0abfc;
  }

  body.dark {
    --color-primary-1: 132 120 190;
    --color-primary-2: 178 169 213;
    --color-secondary: 37 34 35;
    --color-neutral: 240 240 240;
    --color-gradient-1: #474259;
    --color-gradient-2: #3a495a;
    /*#4d647d; #3a495a;*/
    --color-gradient-3: #56415a;
    /*#77587c; #56415a;*/
  }

  body {
    @apply text-neutral bg-secondary text-base md:text-xl lg:text-xl transition-colors duration-500;
  }
  h2 {
    @apply capitalize font-bold text-primary text-2xl md:text-3xl lg:text-4xl;
  }
  h3,
  h4 {
    @apply text-primary-2 capitalize font-semibold text-2xl md:text-3xl lg:text-4xl;
  }
}

@layer utilities {
  .h-break {
    @apply flex flex-row items-center gap-1 after:content-[''] after:h-1 after:flex-1 after:bg-primary;
  }
  .blob {
    @apply filter blur-lg -z-20;
  }
  .border-bot {
    @apply border-b-2 border-primary-2/10;
  }

  .flex-res {
    @apply flex flex-col md:flex-row;
  }
  .grid-base {
    @apply grid grid-cols-[repeat(16,minmax(0,1fr))] grid-rows-9;
  }
  .gap-large {
    @apply gap-8 md:gap-16;
  }
  .gap-small {
    @apply gap-4 md:gap-8;
  }
  .content-ctrl {
    @apply flex flex-col gap-small p-4;
  }
  .content-ctrl-t-0 {
    @apply flex flex-col gap-small px-4 pb-4;
  }
  .content-ctrl-x {
    @apply flex flex-col gap-small px-4;
  }
}

@layer components {
  /*fixed btn*/
  .fix-btn {
    @apply size-8 right-4 z-[9999];
  }
  /*nav bar style*/
  .navbar {
    @apply fixed top-0 left-0 z-[9999];
  }

  .nav-link {
    @apply flex rounded-2xl justify-center p-1 uppercase text-white text-lg md:text-xl lg:text-2xl;
  }
  /*small screen menu toggle*/
  button#mobile-toggle {
    transform-origin: center;
    &.close div {
      &:first-child {
        @apply absolute translate-y-[.015625rem] rotate-45;
      }
      &:nth-child(2) {
        @apply opacity-0;
      }
      &:last-child {
        @apply absolute -translate-y-[.015625rem] -rotate-45;
      }
    }
  }
  /*hero section*/
  .hero {
    @apply aspect-[4/3] md:aspect-[16/9] grid-base overflow-hidden justify-end pt-16;
  }
  /*content*/
  .content {
    @apply px-4 pb-8 flex flex-col gap-large md:pb-16;
  }
  .icon {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl hover:scale-110;
  }

  .img-ctrl {
    @apply grid grid-cols-12 grid-rows-8 md:w-auto flex-1 p-4 bg-primary-2/10 rounded-md;
  }
  .img-desktop {
    @apply col-span-11 row-start-1 row-span-11 flex items-center;
  }
  .img-mobile {
    @apply col-span-3 row-start-1 row-span-full flex items-center;
  }

  .project {
    @apply flex-res gap-small justify-between;
    &:nth-child(odd) {
      @apply md:flex-row-reverse;
    }
  }

  .chip {
    @apply py-1 px-3 rounded-3xl bg-primary-1 capitalize;
  }
  .chip-red {
    @apply bg-red text-neutral;
  }
  .chip-yellow {
    @apply bg-amber text-neutral;
  }
  .chip-blue {
    @apply bg-blue text-neutral;
  }

  a:hover .chip {
    @apply bg-secondary text-primary-1;
    &.chip-red {
      @apply text-red;
    }
    &.chip-yellow {
      @apply text-amber;
    }
    &.chip-blue {
      @apply text-blue;
    }
  }
  /*contact form style*/
  .social-media {
    @apply flex flex-row items-center gap-4 mt-auto;
    a {
      @apply icon;
    }
  }
  form {
    @apply flex flex-col border-bot;
  }

  form div {
    @apply flex justify-between;
  }

  form label {
    @apply capitalize;
  }

  form input {
    @apply rounded-md py-1 px-3 border-2 outline-none border-none w-full bg-primary-2/10;
    &:focus-visible {
      outline: none;
    }
    &:nth-child(2) {
      @apply my-2;
    }
    &:user-valid {
      @apply bg-primary-2/10;
    }
  }
}
