@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-1: 116 105 182;
    --color-primary-2: 141 132 195;
    --color-secondary: 240 240 240;
    --color-neutral: 12 12 12;
    --color-gradient-1: #beadfa;
    --color-gradient-2: #93c5fd;
    --color-gradient-3: #f0abfc;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary-1: 132 120 190;
      --color-primary-2: 178 169 213;
      --color-secondary: 37 34 35;
      --color-neutral: 240 240 240;
      --color-gradient-1: #474259;
      --color-gradient-2: #3a495a;
      /*#4d647d; #3a495a;*/
      --color-gradient-3: #56415a;
      /*#77587c; #56415a;*/
    }
  }

  body {
    @apply text-neutral bg-secondary p1;
  }
}

@layer utilities {
  .hero-g1 {
    background: conic-gradient(
      var(--color-gradient-2),
      var(--color-gradient-1),
      var(--color-gradient-2)
    );
    filter: blur(1rem);
  }
  .hero-g2 {
    background: conic-gradient(
      var(--color-gradient-1),
      var(--color-gradient-3),
      var(--color-gradient-1)
    );
    filter: blur(1rem);
  }
  .hero-g3 {
    background: conic-gradient(
      var(--color-gradient-1),
      var(--color-gradient-3),
      var(--color-gradient-1),
      var(--color-gradient-2),
      var(--color-gradient-1)
    );
    filter: blur(1rem);
  }
  .hero-g4 {
    background: conic-gradient(
      var(--color-gradient-1),
      var(--color-gradient-3),
      var(--color-gradient-1),
      var(--color-gradient-2),
      var(--color-gradient-1)
    );
  }

  .border-bot {
    @apply border-b-2 border-primary-2/40;
  }

  .flex-res {
    @apply flex flex-col md:flex-row;
  }
  .grid-base {
    @apply grid grid-cols-[16] grid-rows-9;
  }
  .gap-large {
    @apply gap-8 md:gap-16;
  }
  .gap-small {
    @apply gap-4 md:gap-8;
  }
  .f1 {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
  }

  .f2 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl;
  }

  .f3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  .f4 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  .f5 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  .p1 {
    @apply text-base md:text-xl lg:text-xl;
  }
}

@layer components {
  .navbar {
    @apply fixed top-0 left-0 z-[9999];
  }

  .nav-link {
    @apply flex rounded-2xl justify-center p-1 f5 uppercase text-white;
  }

  button#mobile-toggle {
    transform-origin: center;
  }

  button#mobile-toggle.close div:first-child {
    @apply absolute translate-y-[.015625rem] rotate-45;
  }
  button#mobile-toggle.close div:nth-child(2) {
    @apply opacity-0;
  }
  button#mobile-toggle.close div:last-child {
    @apply absolute -translate-y-[.015625rem] -rotate-45;
  }

  .hero {
    @apply aspect-[4/3] grid grid-cols-12 grid-rows-8 overflow-hidden justify-end pt-16;
  }

  .content {
    @apply p-4 flex flex-col gap-large;
  }

  .section-header {
    @apply flex flex-row items-center gap-1 capitalize font-bold text-primary after:content-[''] after:h-1 after:flex-1 after:bg-primary f3;
  }

  .card {
    @apply flex gap-4;
  }

  .subheader {
    @apply text-primary-2 capitalize font-semibold f3;
  }

  .img-slider {
    @apply flex flex-row bg-fil overflow-x-hidden rounded-md;
  }

  .img-slider img {
    @apply aspect-[16/9] opacity-95 max-h-56;
  }

  .card-item {
    @apply h-full border-bot hover:border-none;
  }

  .card-item > a {
    @apply p1 rounded-md flex flex-col p-4 border-none gap-4 h-full hover:bg-primary-2/40;
  }

  .card-item > a h4 {
    @apply subheader;
  }

  .project {
    @apply flex-res gap-large md:justify-between;
  }
  .project:nth-child(odd) {
    @apply md:flex-row-reverse;
  }
  .chip-container {
    @apply flex flex-row justify-end items-center gap-2 mt-auto;
  }

  .chip {
    @apply py-1 px-3 rounded-3xl bg-primary-1 capitalize p1;
  }

  .chip.red {
    @apply bg-red text-neutral;
  }
  .chip.yellow {
    @apply bg-amber text-neutral;
  }

  .chip.blue {
    @apply bg-blue text-neutral;
  }

  .card-item > a:hover .chip {
    @apply bg-secondary text-primary-1;
  }

  .card-item > a:hover .chip.red {
    @apply text-red;
  }

  .card-item > a:hover .chip.yellow {
    @apply text-amber;
  }

  .card-item > a:hover .chip.blue {
    @apply text-blue;
  }

  form {
    @apply flex flex-col gap-2 mt-4 border-bot;
  }

  form div {
    @apply flex justify-between p-1;
  }

  form label {
    @apply p1 capitalize;
  }

  form input {
    @apply rounded-3xl py-1 px-3 border-2 outline-none border-none w-full bg-primary-2/40;
    &:focus-visible {
      outline: none;
    }
    &:user-valid {
      @apply bg-primary-2/80;
    }
  }
}
